.body table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;
}

.body table th, table td {
    border: 1px solid #ddd;
    text-align: center;
}

.body table th {
    background-color: #f0f0f0;
}

.body table img {
    max-width: 50px;
    max-height: 50px;
}
.body button{
    padding: 1ex;
    margin-bottom: 5px;
}

.body .action {
    padding: 1px;
    margin-bottom: 1px;
}

/*Style do formulario*/

label {
    text-align: right; /* Alinha os rótulos à direita */
    display: inline-block; /* Para controlar a largura dos rótulos */
    width: 100px; /* Define a largura desejada para os rótulos */
  }
  
  input {
    display: inline-block; /* Para que os campos de entrada fiquem em linha com os rótulos */
  }