.body div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.body div h2 {
    text-align: center;
}
.body table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;
}

.body table th, table td {
    border: 1px solid #747373;
    text-align: center;
}

.body table th {
    background-color: #958f8f;
}

.body table img {
    max-width: 50px;
    max-height: 50px;
}

.body .bttAdd {
    margin-bottom: 7px;
    width: 30%;
    padding: 4px;
}

.body .bttEd{
    width: 50%;
    margin-bottom: 2px;
}
.body .bttDel{
    width: 50%;
    margin-top: 2px;
}
.container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center; 
  }

form {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
}